<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    부트스트랩-->
    <!--    아이콘-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--    아이콘-->
    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <style>
        /* 마우스를 올렸을 때 배경색 변경을 위한 스타일 */
        tr:hover {
            background-color: #f5f5f5;
        }

        /* 활성화된 행의 배경색을 변경하는 스타일 */
        tr.active {
            background-color: #007bff;
            color: #fff;
        }

        .search-container {
            border: 2px solid black; /* 테두리 색상 */
            border-radius: 5px; /* 테두리 모서리 둥글게 */
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
            color: black; /* 텍스트 색상 설정 */
        }

        #searchData {
            border: none; /* 검색 입력창에는 별도의 테두리 제거 */
            background-color: whitesmoke; /* 배경색상 설정 */

            .custom-textarea {
                width: 100%; /* 너비 100% */
                height: 200px; /* 높이 200px로 설정 */
            }
        }
    </style>
    <title>키 관리</title>

</head>
<body>

<div th:replace="~{/includes/header :: header}"></div>
<div class="container text-center">
    <!-- 검색 입력 부분 -->
    <div class="row search-container mb-3">
        <div class="col-12 d-flex py-1">
            <input id="searchData" class="form-control me-2" type="search" placeholder="키를 검색하세요"
                   aria-label="Search">
            <button id="searchBtn" class="btn btn-outline-primary" type="button">
                <svg style="display:inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </div>

    <!-- 테이블 부분 -->
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">KEY-TYPE</th>
                    <th scope="col">DESCRIPTION</th>
                </tr>
                </thead>
                <tbody id="key-table-body">
                <tr onclick="highlightRow(this)" data-bs-toggle="modal" data-bs-target="#sidebarModal">
                    <th scope="row">
                        <input class="form-check-input" type="checkbox" value="">
                    </th>
                    <td>0</td>
                    <td>키이름</td>
                    <td>숫자</td>
                    <td>설명입니다.</td>
                </tr>
                <!-- 나머지 테이블 행들도 동일하게 작성 -->
                </tbody>
            </table>
            <div class="d-grid gap-2">
                <a id="create-key-btn" class="btn btn-outline-success" type="button" onclick="highlightRow(this)" data-bs-toggle="modal" data-bs-target="#create-key-modal"><b>+Create New Key+</b></a>
                <a class="btn btn-outline-primary" type="button" href="\scenario-management"><b>+Go To Manage Scenario+</b></a>
                <a class="btn btn-outline-warning" type="button" href="\scenario-creation"><b>+ Go To Create New Scenario+</b></a>

            </div>
        </div>
    </div>
</div>

<!-- SideBar Modal -->
<div class="modal fade" id="sidebarModal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sidebar modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title mx-auto independent-block "><b> 키 관리</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <tr>
                                <td colspan="2" class="col-6 text-center">
                                    <b>키 로그 포맷</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-6 text-center" colspan="2">
                                    <label>
                                        <textarea class="custom-textarea" rows="2" cols="90"> { "cust_id" : "1" }
                                        </textarea>
                                    </label>
                                </td>
                            </tr>
                            <tr class="text-end">
                                <td>
                                    키이름
                                </td>
                                <td id ="nameModal">
                                    cust_id
                                </td>
                            </tr>
                            <tr class="text-end">
                                <td>
                                    키타입
                                </td>
                                <td id="typeModal">
                                    number
                                </td>
                            </tr>
                            <tr class="text-end">
                                <td colspan="2">
                                    <button class="btn btn-primary">Reset</button>
                                    <button class="btn btn-success">Update</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 설명</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-6 text-center" id="descriptionModal">
                                    해당 키는 테스트 키입니다. 여기 팝업 창에서는 미리 설정된 키 포맷을 로드하며 코드 테이블을 추가 할 수 있습니다.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <th colspan="2" class="text-center">
                                생성 수정 일시
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 생성 일시</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b id="regDtModal"></b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 수정 일시</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b id="modDtModal"></b>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <th colspan="2" class="text-center">
                                코드 테이블 관리
                            </th>
                            </thead>
                            <tbody id="code-table-body-exist">
                            <tr class="mb-1">
                                <td class="col-6 text-center">
                                    <b>실제 코드 값</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>비주얼 값 </b>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-6 text-center">
                                    <b>01</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>서울 특별시</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>02</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>부산 광역시</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>03</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>대전 광역시</b>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="d-grid gap-2">
                        <button id="add-code-form-btn-exist" class="btn btn-outline-success" type="button"><b>+ 코드 추가 폼 +</b></button>
                        <button id="add-code-btn-exist" class="btn btn-outline-danger" type="button" hidden="hidden"><b>추가</b></button>

<!--                        <button class="btn btn-outline-danger" type="button"><b>중지</b></button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- key-create SideBar Modal -->
<div class="modal fade" id="create-key-modal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sidebar modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title mx-auto independent-block "><b> 키 생성</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>설명</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-6 text-center">
                                    해당 창은 키를 생성하는 창입니다.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 설명</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-6 text-center">
                                    <label>
                                        <textarea class="custom-textarea" rows="3" cols="90"></textarea>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 이름</b>
                                </td>
                                <td class="col-6 text-center">
                                    <input class="form-control" type="text" placeholder="입력">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 타입</b>
                                </td>
                                <td class="col-6 text-center">
                                    <input class="form-control" type="text" placeholder="입력">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <th colspan="2" class="text-center">
                                코드 테이블 작성
                            </th>
                            </thead>
                            <tbody id="code-table-body">
                            <tr class="mb-1">
                                <td class="col-6 text-center">
                                    <b>실제 코드 값</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>비주얼 값 </b>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-6 text-center">
                                    <b>01</b>
                                </td>
                                <td class="col-6 text-center">
                                    <input class="form-control" type="text" placeholder="입력">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="d-grid gap-2">
                        <button id="add-code-form-btn" class="btn btn-outline-success" type="button"><b>+ 코드 추가 폼 +</b></button>
                        <button id="add-code-btn" class="btn btn-outline-danger" type="button" hidden="hidden"><b>생성</b></button>

                        <!--                        <button class="btn btn-outline-danger" type="button"><b>중지</b></button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{/includes/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- 제이쿼리 cdn-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

    function highlightRow(row) {
        // 기존에 활성화된 행에서 active 클래스 제거
        var activeRow = $('tr.active');
        if (activeRow.length) {
            activeRow.removeClass('active');
        }

        // 클릭된 행에 active 클래스 추가
        $(row).addClass('active');

        let name = $(row).find('td:eq(1)').text();
        let type = $(row).find('td:eq(2)').text();
        let description = $(row).find('td:eq(3)').text();
        // 추가 정보 가져오기
        let regDt = $(row).find('td:eq(4)').text();
        let modDt = $(row).find('td:eq(5)').text();
        // 추가적인 컬럼들이 있다면 위와 같이 계속 추가

        // 모달 내의 요소에 정보 설정
        //$('#scenarioIdModal').text(scenarioId);
        $('#nameModal').text(name);
        $('#typeModal').text(type);
        $('#descriptionModal').text(description);
        // 추가 정보를 모달 내에 표시
        $('#regDtModal').text(regDt);
        $('#modDtModal').text(modDt);


        // 클릭된 행의 체크박스를 체크
        var checkbox = $(row).find('.form-check-input');
        if (checkbox.length) {
            checkbox.prop('checked', true);
        }
    }

    // 모달 이벤트 리스너 추가
    var createKeyModal = new bootstrap.Modal(document.getElementById('create-key-modal'));
    $('#sidebarModal').on('hidden.bs.modal', function () {
        // 모달이 숨겨질 때 active 클래스를 가진 행에서 제거
        var activeRow = $('tr.active');
        if (activeRow.length) {
            activeRow.removeClass('active');

            // 체크박스도 해제
            var checkbox = activeRow.find('.form-check-input');
            if (checkbox.length) {
                checkbox.prop('checked', false);
            }
        }
    });

    createKeyModal._element.addEventListener('hidden.bs.modal', function () {
        // key create 모달이 숨겨질 때 active 클래스를 key craete 버튼에서 제거
        $('#create-key-btn').removeClass('active');
    });


    $('#add-code-form-btn-exist').click(function(){

        let inputForm = '<input class="form-control" type="text" placeholder="입력">';
        let inputFormWithDeleteBtn = '<div class="row"><input class="form-control col" type="text" placeholder="입력" style="width: 280px;"><a class="btn btn-danger col-2 text-center" type="button" href="#"><b>X</b></a><div></div></div>';

        $('#code-table-body-exist').append('<tr class="text-center"><td>'+inputForm+'</td><td>'+inputFormWithDeleteBtn+'</td></tr>');

        $('#add-code-btn-exist').removeAttr("hidden");
    });

    $('#add-code-form-btn').click(function(){

        let inputForm = '<input class="form-control" type="text" placeholder="입력">';
        let inputFormWithDeleteBtn = '<div class="row"><input class="form-control col" type="text" placeholder="입력" style="width: 280px;"><a class="btn btn-danger col-2 text-center" type="button" href="#"><b>X</b></a><div></div></div>';

        $('#code-table-body').append('<tr class="text-center"><td>'+inputForm+'</td><td>'+inputFormWithDeleteBtn+'</td></tr>');

        $('#add-code-btn').removeAttr("hidden");
    });

    $(document).ready(function () {
        // 페이지 로딩하자마자 시나리오 리스트 불러오기
        $.ajax({
            type: "GET",
            url: "/api/keys",
            dataType: "json",
            success: function (response) {
                console.log("Success:", response);
                console.log(response.data[0]);
                for (var i = 0; i < response.data.length; i++) {
                    var newRow = '<tr onclick="highlightRow(this)" data-bs-toggle="modal" data-bs-target="#sidebarModal">' +
                        '<th scope="row">' +
                        '<input class="form-check-input" type="checkbox" value="">' +
                        '</th>' +
                        '<td>' + response.data[i].keyId + '</td>' +
                        '<td>' + response.data[i].name + '</td>' +
                        '<td>' + response.data[i].type + '</td>' +
                        '<td>' + response.data[i].description + '</td>' +
                        '<td style="display: none;">' + response.data[i].regDt + '</td>' +
                        '<td style="display: none;">' + response.data[i].modDt + '</td>' +
                        '</tr>';

                    $("#key-table-body").append(newRow);
                }
            },
            error: function (error) {
                console.error("Error:", error);
                // 에러 처리
            }
        });
    });


</script>


</body>
</html>