<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- jQuery 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--    부트스트랩-->
    <!-- popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
    <!--    아이콘-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--    아이콘-->

    <!-- Select2 스타일 및 스크립트 로드 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <style>
        .search-container {
            border: 2px solid black; /* 테두리 색상 */
            border-radius: 5px; /* 테두리 모서리 둥글게 */
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
            color: black; /* 텍스트 색상 설정 */
        }

        #searchData {
            border: none; /* 검색 입력창에는 별도의 테두리 제거 */
            background-color: whitesmoke; /* 배경색상 설정 */

            .custom-textarea {
                width: 100%; /* 너비 100% */
                height: 200px; /* 높이 200px로 설정 */
            }
        }
        /* Select2 스타일 */
        .select2-container--default .select2-selection--single {
            border: 3px solid black;
        }
    </style>

    <!--    진행상황 스타일-->
    <style>
        .progress {
            appearance: none;
        }
        .progress::-webkit-progress-bar {
            background:#f0f0f0;
            border-radius:10px;
            box-shadow: inset 3px 3px 10px #ccc;
        }
        .progress::-webkit-progress-value {
            border-radius:10px;
            background: #1D976C;
            background: -webkit-linear-gradient(to right, #ffffff, #202020);
            background: linear-gradient(to right, #ffffff, #202020);

        }
    </style>
    <title>시나리오 생성</title>

</head>
<body>

<div th:replace="~{/includes/header :: header}"></div>
<div id = "filter-container" hidden class="container text-center mt-5">



    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-3">로그 포맷 지정 -> 필터 생성 -> 시나리오 생성</h2>
                <progress class="progress mb-3" value="66" min="0" max="100" style="width: 100%;"></progress>
            </div>
        </div>

        <form id="filterForm">
            <!-- Filter form fields -->
            <div class="row">
                <div class="col mb-3">
                    <label for="key"><b>키</b></label>
                </div>
                <div class="col mb-3">
                    <label for="operator"><b>연산자</b></label>
                </div>
                <div class="col mb-3">
                    <label for="value"><b>값</b></label>
                </div>
                <div class="col mb-3">
                    <label for="filterType"><b>값 타입</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <select class="js-example-basic-single selectBox" data-placeholder="키 선택" name="key"  style="width : 100%;" id="key" required>

                    </select>
                </div>
                <div class="col mb-3">
                    <select class="form-select" data-placeholder="연산자 선택" id="operator" name="operator" required style="
            border: 3px solid black;">
                        <option value="<">&lt; (미만)</option>
                        <option value=">">&gt; (초과)</option>
                        <option value="<=">&le; (이하)</option>
                        <option value=">=">&ge; (이상)</option>
                        <option value="=">= (같음)</option>
                        <option value="!=">!= (다름)</option>
                    </select>
                </div>
                <div class="col mb-3">
                    <input type="text" class="form-control" id="value" name="value" placeholder="값을 입력하세요" style="
            border: 3px solid black;" required>
                </div>
                <div class="col mb-3">

                    <select class="form-select"  data-placeholder="데이터 타입 선택" id="filterType" name="filterType" required style="
            border: 3px solid black;">
                        <option value="number">숫자</option>
                        <option value="string">문자</option>
                    </select>
                </div>
            </div>

            <div class="text-end">
                <!-- Add filter button -->
                <button type="button" class="btn btn-primary" onclick="addFilter()">필터 추가</button>
                <button type="button" class="btn btn-danger" onclick="resetForm()">리셋 폼</button>
                <button type="button" class="btn btn-success" onclick="addLogicalOperator('AND')">AND</button>
                <button type="button" class="btn btn-warning" onclick="addLogicalOperator('OR')">OR</button>
            </div>
        </form>

        <!-- Display added filters with buttons for each -->
        <div id="filterDisplay" class="mt-4"></div>
        <div class="row">
            <!-- Display filter tree -->
            <div class="col-6">
                <h5><b>필터 Json 트리</b></h5>
                <div id="filterTree" class="mt-4">
                    <pre id="filterTreeContent" class="text-start" style="border : 1px solid black"></pre>
                </div>
            </div>
            <div class="col-6">
                <h5><b>필터 트리</b></h5>
                <div id="filterTreeButtons" class="mt-4" style="border : 1px solid black">

                </div>
            </div>
        </div>
    </div>

    <!-- 테이블 부분 -->
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row pb-3">
                <div class="col text-end">
                    <!-- 플러스 버튼 모달 토글 버튼 -->
                    <button class="set-button btn btn-outline-danger" id="refreshButton"> 이전으로 </button>
                    <button class="btn btn-danger" id="scenario-create-btn" > 시나리오 생성 </button>
                </div>
            </div>

            <div class="text-end">
                <a class="btn btn-outline-primary" type="button" href="\scenario-management"><b>시나리오 관리</b></a>
                <a class="btn btn-outline-primary" type="button" href="\key-management"><b>키 관리</b></a>
                <a class="btn btn-outline-primary" type="button" href="\log-format-management"><b>로그 포맷 관리</b></a>
            </div>
        </div>
    </div>

</div >

<div id="log-format-container" class="container text-center mt-5" >
    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-3">로그 포맷 지정 -> 필터 생성 -> 시나리오 생성</h2>
                <progress class="progress mb-3" value="33" min="0" max="100" style="width: 100%;"></progress>
            </div>
        </div>

        <!-- 테이블 부분 -->
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESCRIPTION</th>
                    </tr>
                    </thead>
                    <tbody id="scenario-table-body">


                    <!-- 나머지 테이블 행들도 동일하게 작성 -->
                    </tbody>
                </table>
                <div class="row pb-3">
                    <div class="col">
<!--                        &lt;!&ndash; 플러스 버튼 모달 토글 버튼 &ndash;&gt;-->
<!--                        <button id="set-log-format" class="set-button  btn btn-danger" disabled > 확인 </button>-->
                    </div>
                </div>
                <div class="text-end">
                    <a class="btn btn-outline-primary" type="button" href="\scenario-management"><b>시나리오 관리</b></a>
                    <a class="btn btn-outline-primary" type="button" href="\key-management"><b>키 관리</b></a>
                    <a class="btn btn-outline-primary" type="button" href="\log-format-management"><b>로그 포맷 관리</b></a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- SideBar Modal -->
<div class="modal fade" id="sidebarModal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sidebar modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between row">
                <h3 class="col-4"></h3>
                <h5 class="modal-title mx-auto independent-block col-4 text-center"><b> 로그 포맷 상세</b></h5>
                <div class="text-end col-4"><button type="button" class="btn-close col-4" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <tr>
                                <td colspan="2" class="col-6 text-center">
                                    <b>로그 포맷 정보</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-end">
                                <td class="col-6 text-center">
                                    <b>로그 포맷 이름</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b class="text-start" id="nameModal"></b>

                                </td>
                            </tr>
                            <tr>
                                <td class="col-6 text-center" colspan="2">
                                    <b>로그 포맷 설명</b>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p class="text-start" id="descriptionModal"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <th colspan="2" class="text-center">
                                생성 수정 일시
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 생성 일시</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b id="regDtModal"></b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6 text-center">
                                    <b>키 수정 일시</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b id="modDtModal"></b>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <thead>
                            <th colspan="2" class="text-center">
                                키 맵
                            </th>
                            <tr class="mb-1">
                                <td class="col-6 text-center">
                                    <b>키 이름</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>키 설명</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody id="code-table-body-exist">
                            <tr class="mb-1">
                                <td class="col-6 text-center">
                                    <b>키 이름</b>
                                </td>
                                <td class="col-6 text-center">
                                    <b>키 설명</b>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="d-grid gap-2">
                        <button id="set-log-format" class="set-button  btn btn-danger" data-bs-dismiss="modal" aria-label="Close"> 확인 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 모달 창 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>-->
            <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--            </div>-->

            <div class="modal-body">
                <img class="mb-3" src="https://cdn.icon-icons.com/icons2/1515/PNG/512/warning_105171.png" style="width:50px;"alt="">
                <h4 style="color:red;"><b>AND/OR 을 먼저 선택해주세요.</b></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- 모달 창 -->
<div class="modal fade" id="filter-select-first" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>-->
            <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--            </div>-->

            <div class="modal-body">
                <img class="mb-3" src="https://cdn.icon-icons.com/icons2/1515/PNG/512/warning_105171.png" style="width:50px;"alt="">
                <h4 style="color:red;"><b>필터를 먼저 추가해주세요</b></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 모달 창 -->
<div class="modal fade" id="input-check-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>-->
            <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--            </div>-->

            <div class="modal-body">
                <img class="mb-3" src="https://cdn.icon-icons.com/icons2/1515/PNG/512/warning_105171.png" style="width:50px;"alt="">
                <h4 style="color:red;"><b>필터 폼을 완성해주세요</b></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create-success-modal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <img src="https://cdn.icon-icons.com/icons2/1515/PNG/512/success_105075.png" alt="이미지 설명" class="mb-3"  style="width:50px;">
                <h4 style="color:green;"><b>시나리오 생성 성공</b></h4>
            </div>
        </div>
    </div>
</div>

<!-- key-create SideBar Modal -->
<div class="modal fade" id="create-scenario-modal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sidebar modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-body">
                    <div>
                        <table class="table table-dark table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td class="col-6 text-center">
                                        <label for="name"><b>시나리오 이름</b></label>
                                    </td>
                                    <td class="col-6 text-center">
                                        <input type="text" class="form-control" id="name" placeholder="시나리오 이름을 입력하세요" style="border: 3px solid black;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-6 text-center">
                                        <label for="description"><b>시나리오 설명</b></label>
                                    </td>
                                    <td class="col-6 text-center">
                                        <textarea class="form-control" id="description" placeholder="시나리오 설명을 입력하세요" style="border: 3px solid black;"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2">
                            <button class="btn btn-danger" id="scenario-create-btn2" > 시나리오 생성 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/includes/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    // Select2 라이브러리를 초기화합니다.
    $(document).ready(function () {
        $('#key').select2();
    });
</script>
<script>
    $('#scenario-create-btn').click(function() {
        if(filterTree.length == 0){
            $("#filter-select-first").modal('show');
            return;
        }
        $('#create-scenario-modal').modal('show');
    });
    //시나리오 생성 클릭
    $('#scenario-create-btn2').click(function(){
        $('#create-scenario-modal').modal('hide');

        //로그포맷 id set
        let activeRow = $('tr.active');
        let logFormatId = activeRow.find('td:eq(0)').text();
        let filterId;
        //필터 설정
        const outputArray = [];
        let currentObject = {};
        filterTree.forEach(item => {
            if ("key" in item) {
                // 현재 객체에 키, 연산자, 값, 필터 타입 설정
                currentObject = {
                    "key": item.key,
                    "operator": item.operator,
                    "value": item.value,
                    "filterType": item.filterType
                };
            } else if ("logicalOperator" in item) {
                // 현재 객체에 논리 연산자 설정
                currentObject.logicalOperator = item.logicalOperator;
                // 완성된 객체를 결과 배열에 추가
                outputArray.push(currentObject);
            }
        });

        // 마지막 객체에 논리 연산자가 없다면 추가
        if (filterTree.length!=1) {
            outputArray.push(filterTree[filterTree.length - 1]);
        }

        console.log(outputArray);



        $.ajax({
            type: "POST",
            url: "/api/filters",
            contentType: "application/json", // JSON 형식으로 전송한다는 것을 명시
            data: JSON.stringify(outputArray), // JSON 데이터를 문자열로 변환하여 전송
            dataType: "json",
            success: function (response) {
                console.log("Success:", response);
                filterId = response.data;

                //시나리오 지정
                let newScenario = {
                    "name": $('#name').val(),
                    "description": $('#description').val(),
                    "logFormatId" : logFormatId,
                    "filterId" : filterId
                };
                console.log(logFormatId);
                $.ajax({
                    type: "POST",
                    url: "/api/scenarios",
                    contentType: "application/json", // JSON 형식으로 전송한다는 것을 명시
                    data: JSON.stringify(newScenario), // JSON 데이터를 문자열로 변환하여 전송
                    dataType: "json",
                    success: function (response) {
                        console.log("Success:", response);

                        $('#create-success-modal').modal('show');
                        $('.progress').val(100);
                        setTimeout(function() {
                            // 원하는 작업을 수행
                            location.href= "/scenario-management";
                        }, 1500);
                    },
                    error: function (error) {
                        console.error("Error:", error);
                        // 에러 처리
                    }
                });



            },
            error: function (error) {
                console.error("Error:", error);
                // 에러 처리
            }
        });



        // $('.progress').val(100);
        // setTimeout(function() {
        //     // 원하는 작업을 수행
        //     location.href= "/scenario-management";
        // }, 1500);

    })
</script>

<script>
    $(document).ready(function () {
        // 페이지 로딩하자마자 시나리오 리스트 불러오기
        $.ajax({
            type: "GET",
            url: "/api/log-formats",
            dataType: "json",
            success: function (response) {
                console.log("Success:", response);
                console.log(response.data[0]);
                for (var i = 0; i < response.data.length; i++) {
                    var newRow = '<tr onclick="highlightRow(this)" data-bs-toggle="modal" data-bs-target="#sidebarModal">' +
                        '<th scope="row">' +
                        '<input class="form-check-input" name="log-fomat-group" type="radio" value="">'+
                        '</th>' +
                        '<td class="text-center">' + response.data[i].logFormatId + '</td>' +
                        '<td class="text-start">' + response.data[i].name + '</td>' +
                        '<td class="text-start">' + response.data[i].description + '</td>' +
                        '<td class="text-start" style="display: none;">' + response.data[i].regDt.replace('T', ' ').substring(0, 16) + '</td>' +
                        '<td class="text-start" style="display: none;">' + response.data[i].modDt.replace('T', ' ').substring(0, 16) + '</td>' +
                        '</tr>';
                    $("#scenario-table-body").append(newRow);
                }
            },
            error: function (error) {
                console.error("Error:", error);
                // 에러 처리
            }
        });
    });
</script>

<script>

    // radio 버튼 중 하나가 선택되어야 버튼을 활성화
    function doesLogFormatSelected() {
        $('#set-log-format').prop('disabled', !$('input[type="radio"]:checked').length);
    }


    $('.log-format-row').hover(function(){
        console.log("호버");
    })
    $('.set-button').click(function(){

        let filterContainer = $("#filter-container");
        let logFormatContainer = $("#log-format-container");

        if (filterContainer.is(":hidden")) {
            filterContainer.removeAttr("hidden");
        } else {
            filterContainer.attr("hidden", true);
        }

        if (logFormatContainer.is(":hidden")) {
            logFormatContainer.removeAttr("hidden");
        } else {
            logFormatContainer.attr("hidden", true);
        }


        $('#code-table-body-exist tr').each(function(index, element) {
            // 각 <tr>에 대한 작업 수행
            $("#key").append(`<option value="`+$(element).find('td:eq(0) b').text() +`">`+$(element).find('td:eq(1) b').text() +`</option>`);
        });
    });




    // 행 추가 버튼 클릭 시 실행되는 함수
    $('#add-filter-btn').on('click', function () {
        // 새로운 행을 생성
        var newRow = $('<tr>').append(
            $('<td>').text('새로 선택한 키이름'),
            $('<td>').text('새로 선택한 옵션 '),
            $('<td>').text('새로 입력 또는 선택한 값'),
            $('<td>').append('<button class="btn btn-danger deleteBtn">삭제</button>')
        );

        // 생성한 행을 테이블에 추가
        $('#filter-table-body').append(newRow);

        // 테이블 행이 2개 이상일 때만 조건부 div를 보여줌
        if ($('#filter-table-body tr').length >= 2) {
            $('#operator-select-div').show();
        }
    });

    // 테이블에서 삭제 버튼 클릭 시 실행되는 함수
    $('#filter-table-body').on('click', '.deleteBtn', function () {
        // 현재 행을 삭제
        $(this).closest('tr').remove();

        // 테이블 행이 2개 미만이면 조건부 div를 숨김
        if ($('#filter-table-body tr').length < 2) {
            $('#operator-select-div').hide();
        }
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var filterTree = [];

    function addFilter() {

        var key = $('#key').val();
        var operator = $('#operator').val();
        var value = $('#value').val();
        var filterType = $('#filterType').val();
        if(key == null ||key == ""|| operator == null ||operator == "" || value == null ||value=="" || filterType == null||filterType==""){
            $('#input-check-modal').modal('show');

            console.log("key:" + key );
            console.log("operator:" + operator );
            console.log("value:" + value );
            console.log("filterType:" + filterType );
            return;
        }
        // Create filter object
        var filter = {
            key: key,
            operator: operator,
            value: value,
            filterType: filterType
        };

        if (filterTree.length === 0 || (filterTree.length > 0 && filterTree[filterTree.length - 1].hasOwnProperty('logicalOperator'))) {
            // Add filter to filter tree
            addToFilterTree(filter);

            // Render the filter tree
            renderFilterTree();

            // Display the filter
            // displayFilter(filter);
            // displayFilter(filterTree);
            renderFilterButtons();

            // Reset the form
            resetForm();
        }else{
            //AND나 OR이 필요합니다.
            $('#myModal').modal('show');
        }

    }

    function addLogicalOperator(logicalOperator) {
        // Create logical operator object
        var logicalOperatorObj = {
            logicalOperator: logicalOperator
        };

        if(!filterTree[filterTree.length - 1].hasOwnProperty('logicalOperator')){
            // Add logical operator to filter tree
            addToFilterTree(logicalOperatorObj);

            // Render the filter tree
            renderFilterTree();

            // Display the logical operator
            displayLogicalOperator(logicalOperator);
        }else{
            //필터를 먼저 추가해주세요.
            $('#filter-select-first').modal('show');
        }

    }

    function addToFilterTree(filter) {
        filterTree.push(filter);
    }

    function displayLogicalOperator(logicalOperator) {
        // Add button for logical operator to the tree buttons
        var logicalOperatorButton = $('<button>').addClass('btn btn-info m-2').text(logicalOperator);
        logicalOperatorButton.click(function () {
            editLogicalOperator(logicalOperator);
        });

        // Add delete button for logical operator
        var deleteButton = $('<button>').addClass('btn btn-danger m-2').text('삭제');
        deleteButton.click(function () {
            deleteLogicalOperator(logicalOperatorButton);
        });

        // Create a container div for each logical operator and its buttons in the filter tree
        var logicalOperatorContainer = $('<div>').addClass('d-flex flex-row align-items-center');
        logicalOperatorContainer.append(logicalOperatorButton, deleteButton);

        // Append the container div to the filter tree buttons
        $('#filterTreeButtons').append(logicalOperatorContainer);
    }

    function editLogicalOperator(logicalOperator) {
        // Logical operator buttons are not editable
    }

    function deleteLogicalOperator(logicalOperatorButton) {
        // Find the index of the parent div and remove the logical operator from the tree
        var index = $('#filterTreeButtons').children('div').index(logicalOperatorButton.parent());
        filterTree.splice(index, 2);
        // $(this).parent().remove();
        $('#filterTreeContent').text(JSON.stringify(filterTree, null, 2));

        // Remove the logical operator buttons
        logicalOperatorButton.parent().remove();

        // 갱신된 필터 트리를 다시 렌더링
        renderFilterTree();
        renderFilterButtons();
    }

    function editFilter(filter) {
        var key = prompt('Enter a new key:', filter.key);
        if (key !== null) {
            filter.key = key;
            renderFilterTree();
            renderFilterButtons();
        }
    }



    function deleteFilter(index) {

        filterTree.splice(index, 1);
        $('#filterTreeContent').text(JSON.stringify(filterTree, null, 2));
        // Remove the filter display

        // Remove the property buttons
        $('#filterTreeButtons button').eq(index).parent().remove();
        // $('#filterTreeButtons').children().eq(index).remove();
        $('#filterDisplay').children().eq(index).remove();


        // 갱신된 필터 트리를 다시 렌더링
        renderFilterTree();
        renderFilterButtons();
    }



    function resetForm() {
        // Reset the form fields

        $('#operator').val('');
        $('#value').val('');
        $('#type').val('number');
    }

    function renderFilterTree() {
        // 갱신된 필터 트리를 다시 렌더링
        $('#filterTreeContent').text(JSON.stringify(filterTree, null, 2));
    }

    function renderFilterButtons() {
        // Remove all buttons
        $('#filterTreeButtons').empty();
        $('#filterDisplay').empty();
        // Add buttons for each filter property
        filterTree.forEach(function (item, index) {
            if (item.hasOwnProperty('key')) {
                var filterButton = $('<button>').addClass('btn btn-secondary m-2').text(item.key + ' ' + item.operator + ' ' + item.value);
                filterButton.click(function () {
                    editFilter(item);
                });

                // Add delete button for filter
                var deleteButton = $('<button>').addClass('btn btn-danger m-2').text('삭제');
                deleteButton.click(function () {
                    deleteFilter(index);
                });

                // Add add subfilter button for filter
                var addSubfilterButton = $('<button>').addClass('btn btn-success m-2').text('하위 필터 추가');
                addSubfilterButton.click(function () {
                    alert('Add Subfilter clicked for: ' + item.key );
                });

                // Create a container div for each filter and its buttons in the filter tree
                var filterContainer = $('<div>').addClass('d-flex flex-row align-items-center');
                filterContainer.append(filterButton, deleteButton, addSubfilterButton);

                $('#filterTreeButtons').append(filterContainer);

                //display
                // Create a div element to display the filter
                var filterDiv = $('<div>').addClass('alert alert-info alert-dismissible fade show').attr('role', 'alert');

                // Display filter information
                filterDiv.html('<strong>' + item.key + '</strong> ' + item.operator + ' <strong>' +
                    item.value + '</strong> (' + item.filterType + ')');

                // Add close button
                filterDiv.append('<button type="button" class="close btn" data-dismiss="alert" aria-label="Close" onclick="deleteFilter('+index+')">' +
                    '<span aria-hidden="true">&times;</span></button>');


                // Append the filter div to the display div
                $('#filterDisplay').append(filterDiv);
                //display
            } else if (item.hasOwnProperty('logicalOperator')) {

                // Add button for logical operator to the tree buttons
                var logicalOperatorButton = $('<button>').addClass('btn btn-info m-2').text(item.logicalOperator);
                logicalOperatorButton.click(function () {
                    editLogicalOperator(item.logicalOperator);
                });


                // Add delete button for logical operator
                var deleteButton = $('<button>').addClass('btn btn-danger m-2').text('삭제');
                deleteButton.click(function () {
                    deleteLogicalOperator(logicalOperatorButton);
                });

                // Create a container div for each logical operator and its buttons in the filter tree
                var logicalOperatorContainer = $('<div>').addClass('d-flex flex-row align-items-center');
                logicalOperatorContainer.append(logicalOperatorButton, deleteButton);

                $('#filterTreeButtons').append(logicalOperatorContainer);
            }
        });
    }



    /*]]>*/
</script>

<script>
    // 새로고침 버튼 클릭 시 페이지 새로고침
    $('#refreshButton').click(function () {
        location.reload(true); // true는 캐시를 무시하고 새로고침
    })


    function highlightRow(row) {


        // 기존에 활성화된 행에서 active 클래스 제거
        var activeRow = $('tr.active');
        if (activeRow.length) {
            activeRow.removeClass('active');
        }

        // 클릭된 행에 active 클래스 추가
        $(row).addClass('active');
        let id = $(row).find('td:eq(0)').text();
        let name = $(row).find('td:eq(1)').text();
        let description = $(row).find('td:eq(2)').text();
        // 추가 정보 가져오기
        let regDt = $(row).find('td:eq(3)').text();
        let modDt = $(row).find('td:eq(4)').text();
        // 추가적인 컬럼들이 있다면 위와 같이 계속 추가
        console.log(name);
        // 모달 내의 요소에 정보 설정
        //$('#scenarioIdModal').text(scenarioId);
        $('#nameModal').text(name);
        $('#nameModal').attr('placeholder',name);
        // '#typeModal' 요소에 select 태그를 추가하고 원하는 option을 선택합니다
        $('#typeModal').html('<select class="form-control" data-placeholder="데이터 타입 선택" id="filterType" name="filterType" required style="border: 3px solid black;">' +
            '<option value="number">숫자</option>' +
            '<option value="string">문자</option>' +
            '</select>');

        $('#key-update-btn').val(id);
        $('#log-format-delete-btn').val(id);
        // 원하는 option을 선택합니다

        $('#descriptionModal').text(description);
        $('#descriptionModal').attr('placeholder',description);
        // 추가 정보를 모달 내에 표시
        $('#regDtModal').text(regDt);
        $('#modDtModal').text(modDt);


        // 클릭된 행의 체크박스를 체크
        var checkbox = $(row).find('.form-check-input');
        if (checkbox.length) {
            checkbox.prop('checked', true);
        }
        // 키 아이디로 로그포맷 조회
        $.ajax({
            type: "GET",
            url: "/api/log-format-key-map/" + id,
            dataType: "json",
            success: function (response) {
                console.log("Success:", response);
                console.log(response.data[0]);
                $("#code-table-body-exist").empty();
                // 여기가 어렵네
                for (var i = 0; i < response.data.length; i++) {
                    var newRow = '<tr class="mb-1">' +
                        '<td class="col-6 text-center">' +
                        '<b>'+ response.data[i].name+'</b>'+
                        '</td>' +
                        '<td class="text-center">' +'<div class="row">'+
                        '<b>' + response.data[i].description+'</b>'+
                        '</div>'+
                        '</td>' +
                        '<td class="text-start" style="display: none;">' + response.data[i].codeTableId + '</td>' +
                        '<td class="text-start" style="display: none;">' + response.data[i].keyId + '</td>' +
                        '<td class="text-start" style="display: none;">' + response.data[i].regDt + '</td>' +
                        '<td class="text-start" style="display: none;">' + response.data[i].modDt + '</td>' +
                        '</tr>';


                    $("#code-table-body-exist").append(newRow);
                    $('.code-form-delete-btn').click(function(){
                        $(this).parent().parent().parent().remove();
                    })
                }
            },
            error: function (error) {
                console.error("Error:", error);
                // 에러 처리
            }
        });


        //로그 포맷 selected 확인
        doesLogFormatSelected();

    }
</script>


</body>
</html>