<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    부트스트랩-->
    <!--    아이콘-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--    아이콘-->
    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <!-- item-detail css -->
    <link rel="stylesheet" th:href="@{/css/item-detail.css}">

    <!-- main-tag css -->
    <link rel="stylesheet" th:href="@{/css/main-tag.css}">

    <title>상품 상세</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>

        var quantity = 1

        var url = window.location.href;

        // Use regular expression to extract numbers
        var match = url.match(/\/(\d+)$/);

        if (match) {
            var itemId = match[1];  // Use match[1] instead of match[0]
            console.log(itemId);
        }

        function fetchData() {
            $.ajax({
                url: '/api/products/' + itemId,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var item = response.data;
                    console.log(item);
                    // Fetch image file path
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:8080/api/files/' + itemId,
                        success: function (filePath) {
                            console.log(filePath);
                            // Create a card element
                            var card = $('<div>').addClass('row row-cols-6 row-cols-sm-2 row-cols-md-2 g-6');

                            // Append product details to the card
                            card.append(
                                $('<div>').addClass(' d-flex flex-column align-items-center').append(
                                    $('<div>').addClass('imgBox').append(
                                        $('<div>').html('<br>'),
                                        $('<img>').attr('src', '/' + filePath).addClass('d-block img-fluid').attr('alt', '').css({
                                            'width': '700px',
                                            'height': '500px'
                                        })
                                    )
                                ),
                                $('<div>').addClass('col-6').append(
                                    $('<div>').addClass('p-3').append(
                                        $('<div>').addClass('d-flex justify-content-between').append(
                                            $('<span>').addClass('text-right').html('<h1><b>' + item.name + '</b></h1>')
                                        ),
                                        $('<div>').addClass('d-flex justify-content-between').append(
                                            $('<span>').addClass('text-right').html('<h3><b>' + item.content + '</b></h3>')
                                        )
                                    ),
                                    $('<div>').addClass('border-bottom p-3').append(
                                        $('<div>').addClass('d-flex justify-content-between').append(
                                            $('<span>').addClass('text-left').html('<b>상품 가격</b>'),
                                            $('<span>').addClass('text-right').html('<b>' + item.price + '</b>')
                                        )
                                    ),
                                    $('<div>').addClass('quantity-div p-3 border-bottom text-center').append(
                                        $('<div>').addClass('row').append(
                                            $('<div>').addClass('col-5 col-md-5 text-center').html('<b>수량</b>'),
                                            $('<div>').addClass('col-5 col-md-5 text-center').append(
                                                $('<button>').addClass('btn btn-sm btn-secondary quantity-button').attr('type', 'button').data('action', 'decrease').html('<i class="fas fa-minus"></i>'),
                                                $('<span>').html(' '),
                                                $('<span>').addClass('text-center short-input').html(quantity), // Use text() to display the quantity variable
                                                $('<span>').html(' '),
                                                $('<button>').addClass('btn btn-sm btn-secondary quantity-button').attr('type', 'button').data('action', 'increase').html('<i class="fas fa-plus"></i>')
                                            )
                                        )
                                    ),
                                    $('<div>').addClass('product-btn-div border-bottom text-center p-3').append(
                                        $('<button>').addClass('btn btn-light col-5 btn-lg').attr('type', 'button').html('장바구니'),
                                        $('<span>').html(' '),
                                        $('<span>').html(' '),
                                        $('<span>').html(' '),
                                        $('<button>').addClass('btn btn-dark col-5 btn-lg').attr('type', 'button').html('구매하기')
                                    )
                                )
                            );

                            // Replace the content inside the main tag with the generated card
                            $('.container.row-3').append(card);

                        },
                        error: function (error) {
                            console.error('Error fetching image data:', error);
                        }
                    });
                },
                error: function (error) {
                    console.error('Error fetching product data:', error);
                }
            });
        }


        $(document).ready(function () {
            fetchData(); // 함수 호출
        });
    </script>

</head>
<body>
<div th:replace="~{/includes/header :: header}"></div>


<main>
    <div>
        <br><br><br>
    </div>
    <div class="container row-3">

    </div>
    <div>
        <br><br><br>
    </div>
</main>


<div th:replace="~{/includes/footer :: footer}"></div>
</body>
</html>